ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference1/MicrotefServiceProxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MicrotefServiceProxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microtef.Wcf.DataContract.Request" />
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Microtef.Wcf.DataContract" />
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microtef.Wcf.DataContract.Response" />
      <xsd:import schemaLocation="http://localhost:8583/microtef?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMicrotefService_GetOneOrFirstPinpad_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOrFirstPinpad" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetOneOrFirstPinpad_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneOrFirstPinpadResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetAllPinpads_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPinpads" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetAllPinpads_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPinpadsResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_RetrieveAvailableDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableDevice" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_RetrieveAvailableDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_RetrieveAvailableDevices_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableDevices" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_RetrieveAvailableDevices_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_OpenPinpadConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenPinpadConnection" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_OpenPinpadConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenPinpadConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ClosePinpadConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:ClosePinpadConnection" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ClosePinpadConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClosePinpadConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_CancelPinpadCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelPinpadCommand" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_CancelPinpadCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelPinpadCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ShowMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowMessage" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ShowMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetSecurePan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurePan" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetSecurePan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecurePanResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKey" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericInput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericInput" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericInputResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmount" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericValueInRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericValueInRange" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericValueInRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericValueInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericValueInOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericValueInOptions" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetNumericValueInOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumericValueInOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetTextValueInOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextValueInOptions" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_GetTextValueInOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextValueInOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ChangeDataPickerKeys_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataPickerKeys" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ChangeDataPickerKeys_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeDataPickerKeysResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Authorize_InputMessage">
    <wsdl:part name="parameters" element="tns:Authorize" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Authorize_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_CancelByAuthorizationReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelByAuthorizationReport" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_CancelByAuthorizationReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelByAuthorizationReportResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Cancel_InputMessage">
    <wsdl:part name="parameters" element="tns:Cancel" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Cancel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ReadCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCard" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ReadCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCardResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ReadPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPassword" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_ReadPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_SendAuthorization_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthorization" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_SendAuthorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_SendCompletion_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCompletion" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_SendCompletion_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCompletionResponse" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Activation_InputMessage">
    <wsdl:part name="parameters" element="tns:Activation" />
  </wsdl:message>
  <wsdl:message name="IMicrotefService_Activation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivationResponse" />
  </wsdl:message>
  <wsdl:portType name="IMicrotefService">
    <wsdl:operation name="GetOneOrFirstPinpad">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetOneOrFirstPinpad" message="tns:IMicrotefService_GetOneOrFirstPinpad_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetOneOrFirstPinpadResponse" message="tns:IMicrotefService_GetOneOrFirstPinpad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPinpads">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetAllPinpads" message="tns:IMicrotefService_GetAllPinpads_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetAllPinpadsResponse" message="tns:IMicrotefService_GetAllPinpads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableDevice">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/RetrieveAvailableDevice" message="tns:IMicrotefService_RetrieveAvailableDevice_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/RetrieveAvailableDeviceResponse" message="tns:IMicrotefService_RetrieveAvailableDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableDevices">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/RetrieveAvailableDevices" message="tns:IMicrotefService_RetrieveAvailableDevices_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/RetrieveAvailableDevicesResponse" message="tns:IMicrotefService_RetrieveAvailableDevices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/Ping" message="tns:IMicrotefService_Ping_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/PingResponse" message="tns:IMicrotefService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenPinpadConnection">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/OpenPinpadConnection" message="tns:IMicrotefService_OpenPinpadConnection_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/OpenPinpadConnectionResponse" message="tns:IMicrotefService_OpenPinpadConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClosePinpadConnection">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/ClosePinpadConnection" message="tns:IMicrotefService_ClosePinpadConnection_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ClosePinpadConnectionResponse" message="tns:IMicrotefService_ClosePinpadConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelPinpadCommand">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/CancelPinpadCommand" message="tns:IMicrotefService_CancelPinpadCommand_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/CancelPinpadCommandResponse" message="tns:IMicrotefService_CancelPinpadCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/ShowMessage" message="tns:IMicrotefService_ShowMessage_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ShowMessageResponse" message="tns:IMicrotefService_ShowMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurePan">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetSecurePan" message="tns:IMicrotefService_GetSecurePan_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetSecurePanResponse" message="tns:IMicrotefService_GetSecurePan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetKey" message="tns:IMicrotefService_GetKey_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetKeyResponse" message="tns:IMicrotefService_GetKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumericInput">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetNumericInput" message="tns:IMicrotefService_GetNumericInput_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetNumericInputResponse" message="tns:IMicrotefService_GetNumericInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmount">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetAmount" message="tns:IMicrotefService_GetAmount_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetAmountResponse" message="tns:IMicrotefService_GetAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumericValueInRange">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetNumericValueInRange" message="tns:IMicrotefService_GetNumericValueInRange_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetNumericValueInRangeResponse" message="tns:IMicrotefService_GetNumericValueInRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumericValueInOptions">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetNumericValueInOptions" message="tns:IMicrotefService_GetNumericValueInOptions_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetNumericValueInOptionsResponse" message="tns:IMicrotefService_GetNumericValueInOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextValueInOptions">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/GetTextValueInOptions" message="tns:IMicrotefService_GetTextValueInOptions_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/GetTextValueInOptionsResponse" message="tns:IMicrotefService_GetTextValueInOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDataPickerKeys">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/ChangeDataPickerKeys" message="tns:IMicrotefService_ChangeDataPickerKeys_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ChangeDataPickerKeysResponse" message="tns:IMicrotefService_ChangeDataPickerKeys_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/Authorize" message="tns:IMicrotefService_Authorize_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/AuthorizeResponse" message="tns:IMicrotefService_Authorize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelByAuthorizationReport">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/CancelByAuthorizationReport" message="tns:IMicrotefService_CancelByAuthorizationReport_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/CancelByAuthorizationReportResponse" message="tns:IMicrotefService_CancelByAuthorizationReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/Cancel" message="tns:IMicrotefService_Cancel_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/CancelResponse" message="tns:IMicrotefService_Cancel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCard">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/ReadCard" message="tns:IMicrotefService_ReadCard_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ReadCardResponse" message="tns:IMicrotefService_ReadCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPassword">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/ReadPassword" message="tns:IMicrotefService_ReadPassword_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ReadPasswordResponse" message="tns:IMicrotefService_ReadPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAuthorization">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/SendAuthorization" message="tns:IMicrotefService_SendAuthorization_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/SendAuthorizationResponse" message="tns:IMicrotefService_SendAuthorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCompletion">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/SendCompletion" message="tns:IMicrotefService_SendCompletion_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/SendCompletionResponse" message="tns:IMicrotefService_SendCompletion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Activation">
      <wsdl:input wsam:Action="http://tempuri.org/IMicrotefService/Activation" message="tns:IMicrotefService_Activation_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IMicrotefService/ActivationResponse" message="tns:IMicrotefService_Activation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMicrotefService" type="tns:IMicrotefService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOneOrFirstPinpad">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetOneOrFirstPinpad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPinpads">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetAllPinpads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableDevice">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/RetrieveAvailableDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableDevices">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/RetrieveAvailableDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenPinpadConnection">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/OpenPinpadConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClosePinpadConnection">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/ClosePinpadConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelPinpadCommand">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/CancelPinpadCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowMessage">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/ShowMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurePan">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetSecurePan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKey">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumericInput">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetNumericInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmount">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumericValueInRange">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetNumericValueInRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumericValueInOptions">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetNumericValueInOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextValueInOptions">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/GetTextValueInOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDataPickerKeys">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/ChangeDataPickerKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authorize">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/Authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelByAuthorizationReport">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/CancelByAuthorizationReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCard">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/ReadCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPassword">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/ReadPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAuthorization">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/SendAuthorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCompletion">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/SendCompletion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Activation">
      <soap:operation soapAction="http://tempuri.org/IMicrotefService/Activation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MicrotefServiceProxy">
    <wsdl:port name="BasicHttpBinding_IMicrotefService" binding="tns:BasicHttpBinding_IMicrotefService">
      <soap:address location="http://localhost:8583/microtef" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>